.carousel-wrap{
    width:100%;
    min-width: 150px;
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
}
.carousel-container{
    display: flex;
}
.carousel-image-view{
    width:100%;
    
}
.carousel-image{
    padding-bottom: 100%;
    background-size: cover;
    border-radius: 12px;
}

.carousel-btn{
    all:unset;
    padding:8px;
    background-color: white;
    opacity: 0.9;
    border-radius: 50%;
    position:absolute;
    top:calc(50% - 10px);
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 10px black;
}
.carousel-btn:hover{
    opacity: 1;
}