.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid transparent;
    opacity: 0.5;
    margin:0px 20px;
    white-space: nowrap;
}
.container:hover{
    opacity: 1;
    border-bottom: 2px solid #cccccc;
    cursor: pointer;
}