.nation-btn{
    all:unset;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 12px;
    height:40px;
    border-bottom: 1px solid #cccccc;
}
.arrow{
    font-size: 22px;
    transform: rotate(90deg);
}
form{
    border:1px solid #cccccc;
    border-radius: 8px;
}
form input{
    all:unset;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    height:40px;
}

.login-notice{
    margin-top: 8px;
    font-size: 14px;
}
.login-notice>span{
    font-weight: bold;
    /* text-decoration: underline; */
}
.login-notice>span:hover{cursor: pointer;}
.login-btn{
    all:unset;
    border-radius: 8px;
    background-color: #ff0080;
    padding:14px 0px;
    width: 100%;
    text-align: center;
}
.login-btn>span{
    color:white;
    font-weight: bold;
    font-size: 16px;
}

.social-login{
    display:flex;
    justify-content: space-between;
}
.social-login-element{
    margin-bottom: 16px;
    padding:13px 23px;
    border:1px solid black;
    border-radius: 8px;
    display:flex;
    flex:1;
    align-items: center;
    justify-content: center;
    position: relative;
}
.social-login-element:hover{
    background-color: #efefef;
    cursor: pointer;
}